.container {
  margin: auto;
  min-height: 80vh;
}

.Main-header {
  background-color: var(--color-metal);
  height: 15vh;
  color: white;
  font-family: selima;
}

.Main-title {
  font-size: 2.5em;
  font-family: selima;
  /* font-family: 'Montserrat', sans-serif; */
}

.Main-intro {
  font-size: large;
  font-family: 'Montserrat', serif;
}

.Resume-logo {
  background-image: url("./chi-resume-logo.png");
  height: 400px;
  width: 400px;
  background-size: cover;
  margin: auto;
}
/* /////FOR PORTFOLIO SECTION////// */

.portfolio {
  background-color: var(--color-yellow);
}

.Portfolio-grid{
  display:grid;
  width:70vw;
  margin:auto;
}


/* /////FOR RESUME SECTION////// */
.resume{
  /* background-color:var(--color-rusty); */
}

.Resume {
  width: 70vw;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}