.Main {
  text-align: center;
  min-height: 150vh;
}

.Main-header {
  background-color: #222;
  height: 15vh;
  color: white;
  font-family: selima;
}


.Main-title {
  font-size: 2.5em;
  font-family: selima;
  /* font-family: 'Montserrat', sans-serif; */
}

.Main-intro {
  font-size: large;
  font-family: 'Montserrat', serif;
}

.Resume {
  background-image: url("./chi-resume-logo.png");
  height: 400px;
  width: 400px;
  background-size: cover;
  margin: auto;
}