/* font-family: 'Montserrat', sans-serif; */

:root {
  --color-blue: #18121e;
  --color-metal: #233237;
  --color-rusty: #984b43;
  --color-yellow: #eac67a;
}

@font-face {
  font-family: selima;
  src: url("./fonts/Selima\ .otf");
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, a {
  font-family: selima;
}

body {
  margin: 0;
  padding: 0;
  font-family: selima;
}

h1 {
  font-size: 2em;
}