/* font-family: 'Montserrat', sans-serif; */

:root {
  --color-blue: #18121e;
  --color-metal: #233237;
  --color-red: #ff5c5c;
  --color-yellow: #eac67a;
  --color-orange:#faa622;
  --color-golden:#ffe52c;
}

@font-face {
  font-family: selima;
  src: url("./fonts/Selima\ .otf");
}

@font-face {
  font-family: baka;
  src: url("./fonts/Baka.ttf");
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, a {
  font-family: selima;
}

body {
  margin: 0;
  padding: 0;
  font-family: selima;
}

h1 {
  font-size: 2em;
}

::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em;
}

::-webkit-scrollbar-thumb {
  background: var(--color-yellow);
  /* margin :0.5em auto; */
  /* padding:0.5em auto; */
  border: 0.1em solid white;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-metal);
}