#side-nav {
    position: fixed;
    left: 0;
    width: 3rem;
    height: 100%;
    background-color: var(--color-blue);
    z-index: 10;
}

.Nav ol {
    position: fixed;
    display: grid;
    top: 30vh;
    left: 1em;
    margin: auto;
}

.Nav span {
    font-size: 1.2em;
    cursor: pointer;
    /* color:gray; */
}

.Nav ol li {
    color: gray;
    display: block;
    /* transform: rotate(-10deg); */
}

.Nav ol li:hover {
    color: var(--color-yellow);
    transition-duration: 800ms;
}

.Nav a {
    color: black;
    /* color:var(--color-rusty); */
    min-width: 5em;
    display: inline-block;
    font-size: 2em;
    font-weight: normal;
    margin-left: 0.1em;
    text-align: center;
    transform: rotate(-5deg);
}

.Nav a:hover {
    /* color:#ff5c5c; */
    background-image: url('./highlight.png');
    background-size: 100% 115%;
    transition-duration: 500ms;
    opacity: 0.8;
}

.Active {
    background-image: url('./highlight.png');
    background-size: 100% 115%;
    transition-duration: 500ms;
    opacity: 0.8;
}