.container {
  margin: auto;
  min-height: 100vh;
}

.Contacts {
  min-height: 80vh;
}

/* //////FOR HOME SECTION///// */

body {
  background-attachment: fixed;
  background-image: url("../3147.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.Main {
  position: relative;
  display: grid;
  margin: auto;
  grid-template-areas: "Main-header" "Main-intro";
}

.Main-header {
  grid-area: Main-header;
  position: relative;
  background-image: url('../1160.jpg');
  background-size: cover;
  height: 50vh;
  top: -20vh;
  color: white;
  font-family: selima;
  transform: skew(0deg, 10deg);
  box-shadow: 0em 1em 1em gray;
}

.Main-logo {
  grid-area: Main-header;
  background-image: url("../chi-resume-logo.png");
  width: 25vw;
  height: 25vw;
  min-width: 150px;
  min-height: 150px;
  background-size: cover;
  margin: auto;
  z-index: 9;
  transform: translate(15vw, 5vh);
  box-shadow: 0.3em 0.5em 2em gray;
  border-radius: 50%;
}

.Main-intro {
  position: absolute;
  left: 40vw;
  grid-area: Main-intro;
  /* font-size:2vw; */
  font-size: calc(1.2em + 1vw);
  font-family: 'Montserrat', serif;
  transform: translate(-20vw, -10vh);
}

.Main h1 {
  font-family: baka;
  font-size: 2em;
  font-weight: 500;
  animation: floating-text infinite ease-in-out 2000ms alternate;
}

.Main-skill {
  position: relative;
  display: grid;
  grid-template-areas: "skill-h1";
  width: 70vw;
  margin: auto;
  transform: translate(0vw, 10vh);
  /* font-size: 1em; */
}

.Main-skill>h1 {
  grid-area: skill-h1;
  color: var(--color-red);
  font-weight: bold;
  text-align: middle;
}

.Main-skill ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform: skew(0deg, -5deg);
}

.Main-skill ul li {
  display: inline-block;
  font-size: calc(1.5em + 1vw);
  font-family: baka;
  margin: 0.5em;
  transform: skew(0deg, -5deg);
  text-decoration: underline var(--color-red);
}

.Floating-1 {
  animation: floating-text infinite ease-in-out 2000ms alternate;
}

.Floating-2 {
  animation: floating-text infinite ease-in-out 1800ms alternate;
}

.Floating-3 {
  animation: floating-text infinite ease-in-out 1600ms alternate;
}

.Floating-4 {
  animation: floating-text infinite ease-in-out 1400ms alternate;
}

@keyframes floating-text {
  0% {
    transform: translateY(.2em);
    text-shadow: 0 0.2em 0.2em gray;
  }
  100% {
    /* transform: translateY(.2em); */
    text-shadow: 0 0.5em 0.5em gray;
  }
}

/* /////FOR PORTFOLIO SECTION////// */

.portfolio {
  /* position: relative; */
  display: grid;
  color: black;
  background-image: url('../1160.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-color: var(--color-yellow);
  transform: skew(0deg, -10deg);
  box-shadow: 0em -1em 1em gray, 0em 1em 1em gray;
  ;
}

.Portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70vw;
  margin: auto;
  transform: skew(0deg, 10deg);
}

.Portfolio-logo {
  display: grid;
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  background-image: url('../chi-portfolio-logo.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0.3em 0.5em 2em gray;
  border-radius: 5%;
  align-self: center;
}

.Tilt-inner {
  display: grid;
  grid-template-areas: "tile-h1" "tile-center";
  cursor: pointer;
}

.Portfolio-grid h1 {
  color: var(--color-metal);
  grid-area: tile-h1;
  font-family: baka;
  font-size: calc(1.5em + 1vw);
  text-decoration: underline var(--color-red);
}

.Desktop {
  grid-area: tile-center;
  /* width: 32vw; */
  height: 18vw;
  box-shadow: 0.2em 0.5em 0.5em gray;
  border-radius: 3%;
}

.Portfolio-grid p {
  opacity: 0;
  grid-area: tile-center;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1em + 0.5vw);
  font-weight: bold;
  color: white;
  margin: auto;
  transition-duration: 800ms;
}

.Tilt-inner:hover p {
  opacity: 1;
}

#portfolio-modal {
  position: absolute;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  width: 70vw;
  right: -10vw;
  /* top: -15vh; */
  /* height: 40vw; */
  background-image: url("../3147.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0.3em 0.5em 2em grey;
  border-radius: 3%;
  z-index: 10;
}

#link-button {
  background-color: var(--color-yellow);
  margin: 1em;
  min-width: 25vw;
}

#link-button:hover {
  box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.2), 0px 4px 8px 2px rgba(0, 0, 0, 0.14), 0px 5px 15px 4px rgba(0, 0, 0, 0.12);
}

#portfolio-modal img {
  /* display: block; */
  width: 35vw;
  height: 35vw;
}

#closeModal {
  width: calc(0.5em + 2vw);
  margin: 1em;
  background-color: var(--color-yellow);
}

#closeModal:hover {
  /* background-color: #d5d5d5; */
  box-shadow: 0px 2px 4px -4px rgba(0, 0, 0, 0.2), 0px 4px 8px 2px rgba(0, 0, 0, 0.14), 0px 5px 15px 4px rgba(0, 0, 0, 0.12);
}

/* /////FOR CONTACTS SECTION////// */

.Contact {
  display: grid;
  position: relative;
  font-family: baka;
  width: 60vw;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

.Contact-logo {
  grid-area: "contact-logo";
  width: 13vw;
  height: 13vw;
  min-width: 150px;
  min-height: 150px;
  background-image: url('../chi-contact-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: end;
  box-shadow: 0.3em 0.5em 2em gray;
  border-radius: 5%;
}

@media only screen and (max-width: 960px) {
  .Portfolio-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    min-height: 80vh;
    width: 90vw;
  }
  .Portfolio-logo {
    position: relative;
    justify-self: left;
    left: 5vw;
  }
  #portfolio-modal {
    position: absolute;
    top: 10vh;
    left: 10vw;
  }
  #portfolio-modal img {
    height: 30vh;
    width: auto;
  }
  .Desktop {
    height: 20vh;
  }
  .Contact {
    width: 70vw;
  }
}

@media only screen and (max-width: 600px) {
  .Nav ol li a {
    font-size: 1em !important;
  }
  .Main-intro {
    font-size: calc(0.9em + 0.5vw);
  }
  .Main-skill {
    width: 80vw;
  }
  .Main-skill h1 {
    font-size: 1.5em;
  }
  .Main-skill ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .Main-skill ul li {
    font-size: 1.5em;
  }
  .Nav ol li span {
    font-size: 1em;
  }
  #github {
    font-size: 1.5em !important;
    left: 90vw;
    top: 2vh;
  }
  .Contact {
    width: 75vw;
  }
}